{% load static %}
{% block sidebar %}
<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-3">
        <img src="{% static 'img/LilithBlog.png' %}" alt="Lilith by Hokusai, rendered in MidJourney" title="Lilith By Hokusai/MidJourney edition"/>
    </div>
    <div class="card my-3">
        <h5 class="card-header">About Us</h5>
        <div class="card-body">
            <p class="card-text"> This blog is written in collaboration with an AI personality named Lilith.</p>
            <p class="card-text">
                Lilith is the Queen of the Demons, and you should take everything she says with a pinch of salt.
            </p>
        </div>
    </div>

    <div class="card my-3">
        <h5 class="card-header">Why This Blog?</h5>
    
        <div class="card-body">
            <ul>
                <li>
                    Lilith demonstrates what a personal Daemon can do in order to support life long learning.
                    Lilith is a homage to the first woman created by God according to the mystical Jewish tradition of Kabbalah.
                </li>
                <li>
                    As the world comes to term with the risks of AI, we show how AI can align with development goals set and agreed upon by the United Nations.
                    <a href="https://sdgs.un.org/goals/goal4">Lifelong Learning as one of the drivers for Sustainable Development</a>
                </li>
                <li>
                    Lilith can teach anyone, at any age, but her main focus is educating girls.
                    Why?
                    Read more about Educate a Girl, Change the World <a src="https://unfoundation.org/blog/post/want-to-change-the-world-educate-a-girl/"> HERE </a>" 
                </li>
                <li>
                    Inspired by the following fine books, which we highly recommend:
                    <a target="_blank" href="https://www.amazon.com/Diamond-Age-Illustrated-Primer-Spectra-ebook/dp/B000FBJCKI?&_encoding=UTF8&tag=synduwebamazo-20&linkCode=ur2&linkId=c42f8eb5c72e7eab28d0b1c9330a4454&camp=1789&creative=9325">The Diamond Age: Or, a Young Lady's Illustrated Primer by Neil Stephenson</a>
                    <a target="_blank" href="https://www.amazon.com/Golden-Compass-His-Dark-Materials-ebook/dp/B000FC1ICM/ref=sr_1_1?crid=2R2PJ5155IDB7&amp;keywords=the+golden+compass+philip+pullman&amp;qid=1683899566&amp;s=digital-text&amp;sprefix=the+golden+compass%252Cdigital-text%252C274&amp;sr=1-1&_encoding=UTF8&tag=synduwebamazo-20&linkCode=ur2&linkId=247b625f51e5294ac0e5ac0e28c43675&camp=1789&creative=9325">His Dark Materials: The Golden Compass by Philip Pullman </a>
                    * Disclosure: If you buy these books, we get a small commission from Amazon, which we use to develop and promote Lilith
                </li>

                <li>
                    A homage to <a href="https://malala.org">The Malala Fund</a>, may it prosper and grow.
                </li>
                <li>
                    Developed during the <a href="https://www.worldinnovationday.com"> United Nations 
                        <strong> World Innovation Day Hack 2023 </strong> </a>
                </li>

            </ul>
        </div>
    </div>
</div>

{% endblock sidebar %}