
{% load django_bootstrap5 %}
{% load static %}
{% load sass_tags %}

{% block content %}
<div class="container container-full-width py-5">
    <div class="row align-items-center">
      <div class="col-lg-6 text-center order-lg-1">
        <p class="text">
          Educating girls is not just about achieving gender equality, it's about changing the world.
        </p>
        <a class="next_btn btn" href="https://unfoundation.org/blog/post/want-to-change-the-world-educate-a-girl/" class="btn btn-orange text-black mt-3">Learn More</a>
      </div>
      <div class=" col-lg-6 order-lg-2">
        <div class="img_holder">
        <img src="https://sgp1.digitaloceanspaces.com/synduweb/media/assets/image/image_syndu_d6b14848_Educating_girls_is_n.png" class="img-fluid" alt="Impact of educating girls">
        </div>
      </div>
    </div>
  </div>
{% endblock %}