{% load django_bootstrap5 %}
{% load static %}
{% load sass_tags %}

{% block content %}
<div id="inspiration" class="container-full-width py-5 text-light">
    <div class="row align-items-center py-5">
        <h2 class="text-center w-100 mt-3 mb-3">Inspiration</h2>
        <div class="col-lg-4 text-center mt-3 mb-3">
            <h3>Diamond Age / Neil Stephenson</h3>
            <img src="https://sgp1.digitaloceanspaces.com/synduweb/media/assets/image/image_syndu_2fa262c0_A_visual_which_could.png" class="img-fluid" alt="Diamond Age">
            <p class="text mt-3 mb-3">A Young Lady's Illustrated Primer</p>
            <a class="btn btn-primary mt-3" href="https://www.amazon.com/Diamond-Age-Illustrated-Primer-Spectra-ebook/dp/B000FBJCKI?&_encoding=UTF8&tag=synduwebamazo-20&linkCode=ur2&linkId=c42f8eb5c72e7eab28d0b1c9330a4454&camp=1789&creative=9325">Learn More</a>
        </div>
        <div class="col-lg-4 text-center mt-3 mb-3">
            <h3>The Malala Fund</h3>
            <img src="https://sgp1.digitaloceanspaces.com/synduweb/media/assets/image/image_syndu_eab8dfe0_The_Malala_Fund__foc.png" class="img-fluid" alt="The Malala Fund">
            <p class="text mt-3 mb-3">Working For a World Where Every Girl Can Learn and Lead.
            </p>
            <a class="btn btn-primary mt-3" href="https://malala.org">Learn More</a>
        </div>
        <div class="col-lg-4 text-center mt-3 mb-3">
            <h3>The Golden Compass / Philip Pullman</h3>
            <img src="https://sgp1.digitaloceanspaces.com/synduweb/media/assets/image/image_syndu_87231c2c_The_Golden_Compass__.png" class="img-fluid" alt="The Golden Compass">
            <p class="text mt-3 mb-3">Of Lyra, Her Daemon and a Magical Device</p>
            <a class="btn btn-primary mt-3" href="https://www.amazon.com/Golden-Compass-His-Dark-Materials-ebook/dp/B000FC1ICM/ref=sr_1_1?crid=2R2PJ5155IDB7&amp;keywords=the+golden+compass+philip+pullman&amp;qid=1683899566&amp;s=digital-text&amp;sprefix=the+golden+compass%252Cdigital-text%252C274&amp;sr=1-1&_encoding=UTF8&tag=synduwebamazo-20&linkCode=ur2&linkId=247b625f51e5294ac0e5ac0e28c43675&camp=1789&creative=9325">Learn More</a>
        </div>
    </div>
</div>
{% endblock %}
